body{

  margin: 0;
  background-color: rgb(43, 72, 105);
  
}

.header{

  background-color: rgb(34, 58, 85);
  height: 70px;
}
.headtitle{

  color: white;
  padding-top: 22px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 2000;
  margin: 0;
  
}
.header img{

  width: 80px;
  height: 50px;
  margin-left: 30px;
  margin-top: -32px;
  border-radius: 30px;
  
}
.group4t0 img{

  width: 500px;
  height: 300px;
  border-radius: 30px;
  margin-top: 50px;
  border: 5px solid red;
  
}

.gallery{

  
  width: 100px;
  height: 50px;
  margin-left: 300px;
  margin-top: 100px;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 500;
  background-color: pink;
  text-align: center;
  cursor: pointer;
  
}
button:hover{

  background-color: white;
}
p{

  text-align: center;
  margin-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}